{% extends 'layout.html' %}
{% load static %}
{% block body %}


<div class="container-fluid" style="padding: 40px;">
    <h2>Online Booking</h2>
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black text-center m-5">
    <form method="post" style = "border: 1px;" action="{% url 'booking' %}" class="me-2 ms-2" required>
        {% csrf_token %}

        <!--input guests-->
        <div>
            <h3 class="">Select guests:</h3>
            <select class="form-select fs-3" name="guests">
                <option value="1 guest">1 guest</option>
                <option value="2 guests">2 guests</option>
                <option value="3 guests">3 guests</option>
                <option value="4 guests">4 guests</option>
                <option value="5 guests">5 guests</option>
                <option value="6 guests">6 guests</option>
                <option value="7 guests">7 guests</option>
                <option value="8 guests">8 guests</option>
            </select>
        </div>
            <!--input day-->
            <div class="mt-3">
                <h3 class="">Select Day:</h3>
                <select class="form-select fs-3" name="day">
                    {% for validateWeekday in validateWeekdays %}
                    <option value="{{validateWeekday}}">{{validateWeekday}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mt-3">
                <h3 class="">First name:</h3>
                    <input id="First_name" type="text" name="First_name" value="{{ First_name }}">
            </div>

            <div class="mt-3">
                <h3 class="">Last name:</h3>
                    <input id="Last_name" type="text" name="Last_name" value="{{ Last_name }}">
            </div>

            <div class="mt-3">
                <h3 class="">Email:</h3>
                    <input id="Email" type="text" name="Email" value="{{ Email }}">
            </div>

            <div class="mt-3">
                <h3 class="">Phone number:</h3>
                    <input id="Phone" type="text" name="Phone" value="{{ Phone }}">
            </div>

            <br/>
            <button type="submit" class="btn btn-primary text-white">Continue</button>
        </div>
    </form>
</div>
</div>

{% endblock %}